footer {
  background-color: #48473f;
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer a:any-link {
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 24px;
}

footer .footer p {
  margin: 0;
}

/* link row */
footer .footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
}

footer .footer ul li { font-size: 14px; }

/* logo + copyright + country block */
footer .footer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  border-top: 1px solid rgb(255 255 255 / 15%);
}

footer .footer > div:last-child img {
  width: auto;
  height: 40px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 24px 32px;
  }
}
